@font-face {
  font-family: 'Neue Montreal';
  src: url(/fonts/NeueMontreal-Regular.woff2) format('woff2');
}

:root{
  --primary-gb-color: #111C24;
  --secondary-txt-color: #FFFFFF;
  --gap: 15px;
  --max-width: 1200px;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Neue Montreal';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
  color: white;
}



html,body{
  background: var(--primary-gb-color);
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
}

p{
  font-size: 1rem;

}
h3{
  font-size: 1.728rem;

}
h2{
  font-size: 2.074rem;

}

h1{
  font-size: 2.488rem;

}

strong{
  font-weight: 900;
}


main{
  position: fixed;
  width: 100%;
  height: 100%;
}

.scrollable{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
}

/* NavBar */

.nav__bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  z-index: 10;
  mix-blend-mode: difference;
}

.nav__container{
  width: 95%;
  height: 100%;
  display: flex;
  gap: var(--gap);
  align-items: center;
  color: white;
  max-width: var(--max-width);
}

.nav__title{
  flex: 3;

}

nav{
  display: flex;
  justify-content: space-between;
  flex: 9;
}

nav ul{
  display: flex;
  width: 150px;
  justify-content: space-between;
}

#hero{
  position: relative;
  width: 100%;
  min-height: 100vh;
  min-height: 100svb;
  display: flex;
  justify-content: center;
}

.hero__container{
  position: relative;
  width: 95%;
  padding-top: 180px;
  max-width: var(--max-width);
}

.hero__bg__image{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

}

img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  object-position: center;
  opacity: 0;
}

.overlay{
  position: absolute;
  inset: 0;
  background: linear-gradient(#0000000c,#111C24);
}

.hero__content{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
 
}

.text{
  grid-column: span 12;
}

.hero__content h1, p{
  color: var(--secondary-txt-color);
  margin-bottom: .5rem;

  
}

#about{
  background-color: var(--primary-gb-color);
  display: flex;
  justify-content: center;
}

.about__container{
  position: relative;
  width: 95%;
  gap: var(--gap);
  padding: 90px 0;
  max-width: var(--max-width);
}

.about__content{
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(12, 1fr);
}

.about__container h2{
  grid-column: span 5;
}

.about__text{
  grid-column: span 6;
}

#image__section{
  position: relative;
  width: 100%;
  height: 400px;
}

.overlay__top{
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(#111C24, #00000000);
  z-index: 1;
}

.overlay__bottom{
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(#00000000, #FFFFFF);
  z-index: 1;
}

#services{
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.services__container{
  position: relative;
  width: 95%;
  gap: var(--gap);
  padding: 90px 0;
  max-width: var(--max-width);
}

.services__content{
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(12, 1fr);
}

.services__text{
  grid-column: span 6;
  color: #161616;
}

.services__text div{
  padding-bottom: 1rem;
  border-bottom: 1px solid #161616;
  margin-bottom: 2rem;
}

.services__content h2{
  color: #161616;
  grid-column: span 5;
}

.services__content p{
  color: var(--primary-gb-color);
  margin-top: 1rem;
}

.services__content h3{
  color: var(--primary-gb-color);
}


#projects{

  display: flex;
  justify-content: center;
}

.projects__container{
  position: relative;
  width: 95%;
  padding: 90px 0;
  max-width: var(--max-width);
}

.projects__content{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
}

.project{
  position: relative;
  grid-column: span 4;
  aspect-ratio: 1/ 1.3;
  overflow: hidden;

}

/* .project img{
  height: 160%;
  top: -30%;
  object-fit: cover;
  will-change: transform;
} */

.project:nth-child(1){
  grid-column: 2 / span 4;
}

.project:nth-child(2){
  grid-column: 7 / span 4;
  margin-top: 180px;
}

.project:nth-child(3){
  grid-column: 2 / span 4;
}

.project:nth-child(4){
  grid-column: 8 / span 4;
  margin-top: 180px;
}

/* Clients */


#clients{
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.clients__container{
  position: relative;
  width: 95%;
  gap: var(--gap);
  padding: 90px 0;
  max-width: var(--max-width);
}

.clients__content{
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(12, 1fr);
}

.clients__content h2{
  grid-column: span 5;
  color: #161616;
}

.clients__text{
  grid-column: span 7;

}
.clients__text p{
  color: #161616;
  font-size: 1.728rem;
}

footer{
  display: flex;
  justify-content: center;
  background-color: var(--primary-gb-color);
}

.footer__container{
  position: relative;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
  padding: 45px 0;
  max-width: var(--max-width);
}

.footer__container h3{
  grid-column: span 12;
  margin-bottom: 2rem;
}

.footer__container div{
  grid-column: span 4;
}

@media only screen and (max-width: 900px) {
  

  h3{
    font-size: 1.44rem;

  }
  h2{
    font-size: 1.728rem;

  }

  h1{
    font-size: 2.074rem;

  }
}

@media only screen and (max-width: 600px) {
  

  h3{
    font-size: 1.2rem;

  }
  h2{
    font-size: 1.44rem;

  }

  h1{
    font-size: 1.728rem;

  }

  .about__container h2{
    grid-column: span 12;
  }
  
  .about__text{
    grid-column: span 12;
  }

  .services__text{
    grid-column: span 12;
 
  }
  
  .services__text div{
    padding-bottom: 1rem;
    border-bottom: 1px solid #161616;
    margin-bottom: 2rem;
  }
  

  .project:nth-child(1){
    grid-column: 1 / span 6;
  }
  
  .project:nth-child(2){
    grid-column: 7 / span 6;
    margin-top: 180px;
  }
  
  .project:nth-child(3){
    grid-column: 1 / span 6;
  }

  .project:nth-child(4){
    grid-column: 7 / span 6;
  }
  .clients__content h2{
    grid-column: span 12;
  }
  
  .clients__text{
    grid-column: span 12;
  
  }

  .clients__text p{
    color: #161616;
    font-size: 1.2rem;
  }
  
}